#collection {
    padding: 20px;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "a1 a1 a1 a1 a1 a1 a2 a2 a2 a3 a3 a3" 
    "a1 a1 a1 a1 a1 a1 a4 a4 a4 a5 a5 a5" 
    "a6 a6 a6 a7 a7 a7 a7 a7 a7 a8 a8 a8" 
    "b3 b3 b3 b2 b2 b2 b1 b1 b1 b1 b1 b1"
    "b4 b4 b4 b2 b2 b2 b5 b5 b5 b6 b6 b6"
    "c1 c1 c1 c1 c1 c1 c2 c2 c2 c3 c3 c3"
    "c6 c6 c6 c5 c5 c5 c4 c4 c4 c3 c3 c3";

    grid-template-rows: repeat(7, 315px);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.grid-container .a1 {
    grid-area: a1;
}

.grid-container .a2 {
    grid-area: a2;
}

.grid-container .a3 {
    grid-area: a3;
}

.grid-container .a4 {
    grid-area: a4;
}

.grid-container .a5 {
    grid-area: a5;
}

.grid-container .a6 {
    grid-area: a6;
}

.grid-container .a7 {
    grid-area: a7;
}

.grid-container .a8 {
    grid-area: a8;
}

.grid-container .b1 {
    grid-area: b1;
}

.grid-container .b2 {
    grid-area: b2;
}

.grid-container .b3 {
    grid-area: b3;
}

.grid-container .b4 {
    grid-area: b4;
}

.grid-container .b5 {
    grid-area: b5;
}

.grid-container .b6 {
    grid-area: b6;
}

.grid-container .c1 {
    grid-area: c1;
}

.grid-container .c2 {
    grid-area: c2;
}

.grid-container .c3 {
    grid-area: c3;
}

.grid-container .c4 {
    grid-area: c4;
}

.grid-container .c5 {
    grid-area: c5;
}

.grid-container .c6 {
    grid-area: c6;
}

.grid-container .item {
    background: rgb(253, 253, 113);
}