#contact {
    height: 500px;
    background: white;
    background-image: url('../img/dekel.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}