/* Extra small devices (phones, 350px and down) */

@media only screen and (max-width: 350px) {
    #mainNav>a>img {
        width: 60px;
    }
    footer>div>img {
        width: 80px;
    }
    header {
        background-position: -130px -130px;
        background-size: 300%;
        .intro-body {
            bottom: 20px;
            left: 25%;
            width: 55%;
            h1 {
                font-size: 20px;
                font-weight: 600;
            }
            a:hover {
                text-decoration: none;
            }
            .intro-text {
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 200;
            }
            .separator {
                width: 50px;
                border: 1px solid black;
                margin-left: 1px;
            }
        }
    }
    #contact {
        height: 400px;
        background-size: 150px;
        background-position: left bottom;
    }
    footer {
        height: 180px;
    }
}

/* Extra small devices (phones, 350px to 600px) */

@media only screen and (max-width: 600px) and (min-width: 350px) {
    #mainNav>a>img {
        width: 60px;
    }
    footer>div>img {
        width: 80px;
    }
    header {
        background-position: -110px -150px;
        background-size: 310%;
        .intro-body {
            bottom: 5%;
            left: 23%;
            width: 55%;
            h1 {
                font-size: 24px;
                font-weight: 600;
            }
            a:hover {
                text-decoration: none;
            }
            .intro-text {
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 200;
            }
            .separator {
                width: 50px;
                border: 1px solid black;
                margin-left: 1px;
            }
        }
    }
    #contact {
        height: 400px;
        background-size: 150px;
        background-position: left bottom;
    }
    footer {
        height: 180px;
    }
}

/* Small and long devices (phones, 350px to 600px wide, at least 700px or 800px long) */

@media only screen and (max-width: 600px) and (min-width: 350px) and (min-height: 700px) {
    header {
        background-position: -110px -150px;
        background-size: 310%;
        .intro-body {
            bottom: 5%;
            left: 23%;
            width: 55%;
            h1 {
                font-size: 24px;
                font-weight: 600;
            }
            a:hover {
                text-decoration: none;
            }
            .intro-text {
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 200;
            }
            .separator {
                width: 50px;
                border: 1px solid black;
                margin-left: 1px;
            }
        }
    }
}

@media only screen and (max-width: 600px) and (min-width: 350px) and (min-height: 800px) {
    header {
        .intro-body {
            bottom: 18%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #mainNav>a>img {
        width: 80px;
    }
    footer>div>img {
        width: 100px;
    }
    header {
        .intro-body {
            bottom: 150px;
            left: 31%;
            h1 {
                font-size: 45px;
                font-weight: 600;
            }
            a:hover {
                text-decoration: none;
            }
            .intro-text {
                width: 60%;
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: 200;
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    #mainNav {
        font-size: 16px;
    }
    #mainNav>a>img {
        width: 80px;
    }
    footer>div>img {
        width: 100px;
    }
    header {
        .intro-body {
            bottom: 230px;
            left: 29%;
            h1 {
                font-size: 50px;
                font-weight: 600;
            }
            a:hover {
                text-decoration: none;
            }
            .intro-text {
                width: 65%;
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: 200;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    #mainNav {
        font-size: 18px;
    }
    #mainNav>a>img {
        width: 80px;
    }
    footer>div>img {
        width: 100px;
    }
    header {
        .intro-body {
            bottom: 70px;
            left: 31%;
            h1 {
                font-size: 50px;
                font-weight: 600;
            }
            a:hover {
                text-decoration: none;
            }
            .intro-text {
                width: 50%;
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: 200;
            }
        }
    }
}