html, body {
    margin: 0px;
    padding: 0px;
    background: white;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    li {
        display: inline;
        padding-left: 35px;
    }
    img {
        width: 100px;
        height: auto;
    }
}

#navbar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    background: white;
    padding-left: 200px;
}

#nav-items {
    padding-top: 48px;
    margin-left: 5%;
}

#hero {
    background-image: url("../img/header-necklace-min.jpg");
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}