.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  background: url("../img/hero-necklace.png") no-repeat center;
  background-color: white;
  background-size: cover;
}

.masthead .intro-body {
  position: absolute;
  bottom: 40px;
  left: 33%;
  width: 400px;
  height: 250px;
  background: transparent;
  text-align: left;
}

.masthead .intro-body h1 {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
  width: 65%;
}

.separator {
  width: 60px;
  border: 2px solid black;
  margin-left: 3px;
}

#discover-btn {
  color: white;
  background: #050e2c;
  padding: 8px;
  border-radius: 3px;
}

#discover-btn:hover {
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
}

#collection {
  height: 1000px;
  background: whitesmoke;
}

#about {
  height: 500px;
}

#contact {
  height: 700px;
  background: white;
  background-image: url("../img/dekel.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}

footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 300px;
  background: #050e2c;
  color: white;
  font-size: 12px;
}

footer > div {
  margin: auto;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: black;
  }
}

@media (min-width: 768px) {
  .masthead {
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .masthead {
    padding: 0;
  }
  .masthead .navbar {
    padding-left: 23px !important;
  }
  .masthead .intro-body {
    left: 10%;
    width: 90%;
    bottom: 30px;
  }
  .masthead .intro-body h1 {
    font-size: 30px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

html {
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

p {
  padding: 0;
  margin: 0;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:focus, a:hover {
  text-decoration: none;
  color: black;
}

#mainNav {
  margin-bottom: 0;
  padding: 0;
  padding-left: 60px;
  background-color: transparent;
  font-size: 14px;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
  padding: 0;
}

#mainNav a {
  color: black;
}

#mainNav .navbar-nav {
  margin-left: 70px !important;
  padding-top: 35px;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  margin-left: 30px;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
  text-decoration: underline;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

.about-section {
  color: white;
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: grey;
  background-size: cover;
}

#map {
  width: 100%;
  height: 300px;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
/*# sourceMappingURL=main.css.map */