header {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: black;
  background: url("../img/hero-necklace.png") no-repeat center;
  background-color: white;
  background-size: cover;
}

header .intro-body {
  position: absolute;
  bottom: 40px;
  left: 33%;
  width: 45%;
  height: 250px;
  background: transparent;
  text-align: left;
}

header .intro-body h1 {
  font-size: 40px;
  font-weight: 600;
}

header .intro-body a:hover {
  text-decoration: none;
}

header .intro-body .intro-text {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 200;
}

.separator {
  width: 60px;
  border: 2px solid black;
  margin-left: 3px;
}

#discover-btn {
  color: white;
  background: #38010c;
  padding: 8px;
  border-radius: 3px;
}

#discover-btn:hover {
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
}

#collection {
  background: whitesmoke;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
      grid-template-areas: "a1 a1 a1 a1 . . . . . . . ." "b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1" "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1" "d1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1";
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 3px;
}

.grid-container .neck {
  height: 200px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: a1;
  background-color: #8ca0ff;
}

.grid-container .rings {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: b1;
  background-color: #ffa08c;
}

.grid-container .bracelets {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: c1;
  background-color: #ffff64;
}

.grid-container .ear {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: d1;
  background-color: #8cffa0;
}

#about {
  height: 500px;
}

#contact {
  height: 700px;
  background: white;
  background-image: url("../img/dekel.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}

footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 300px;
  background: #38010c;
  color: white;
  font-size: 12px;
}

footer > div {
  margin: auto;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

html {
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none !important;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: black;
}

a:hover {
  color: black;
}

.material-icons {
  margin-top: 10px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#mainNav {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10%;
  background-color: transparent;
  font-size: 14px;
}

#mainNav .navbar-toggler {
  margin-right: 20px;
  margin-top: 10px;
  color: black;
  border: none;
}

#mainNav .navbar-nav {
  margin-left: 45px !important;
  padding-top: 35px;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 30px;
  color: black;
}

#mainNav .navbar-nav .nav-item:hover {
  outline: none;
  text-decoration: underline;
}

#mainNav .navbar-nav .nav-item a {
  color: black;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* Extra small devices (phones, 350px and down) */
@media only screen and (max-width: 350px) {
  #mainNav > a > img {
    width: 60px;
  }
  footer > div > img {
    width: 80px;
  }
  header {
    background-position: -130px -130px;
    background-size: 300%;
  }
  header .intro-body {
    bottom: 20px;
    left: 25%;
    width: 55%;
  }
  header .intro-body h1 {
    font-size: 20px;
    font-weight: 600;
  }
  header .intro-body a:hover {
    text-decoration: none;
  }
  header .intro-body .intro-text {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
  }
  header .intro-body .separator {
    width: 50px;
    border: 1px solid black;
    margin-left: 1px;
  }
  #contact {
    height: 400px;
    background-size: 150px;
    background-position: left bottom;
  }
  footer {
    height: 180px;
  }
}

/* Extra small devices (phones, 350px to 600px) */
@media only screen and (max-width: 600px) and (min-width: 350px) {
  #mainNav > a > img {
    width: 60px;
  }
  footer > div > img {
    width: 80px;
  }
  header {
    background-position: -110px -150px;
    background-size: 310%;
  }
  header .intro-body {
    bottom: 5%;
    left: 23%;
    width: 55%;
  }
  header .intro-body h1 {
    font-size: 24px;
    font-weight: 600;
  }
  header .intro-body a:hover {
    text-decoration: none;
  }
  header .intro-body .intro-text {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200;
  }
  header .intro-body .separator {
    width: 50px;
    border: 1px solid black;
    margin-left: 1px;
  }
  #contact {
    height: 400px;
    background-size: 150px;
    background-position: left bottom;
  }
  footer {
    height: 180px;
  }
}

/* Small and long devices (phones, 350px to 600px wide, at least 700px or 800px long) */
@media only screen and (max-width: 600px) and (min-width: 350px) and (min-height: 700px) {
  header {
    background-position: -110px -150px;
    background-size: 310%;
  }
  header .intro-body {
    bottom: 5%;
    left: 23%;
    width: 55%;
  }
  header .intro-body h1 {
    font-size: 24px;
    font-weight: 600;
  }
  header .intro-body a:hover {
    text-decoration: none;
  }
  header .intro-body .intro-text {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200;
  }
  header .intro-body .separator {
    width: 50px;
    border: 1px solid black;
    margin-left: 1px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 350px) and (min-height: 800px) {
  header .intro-body {
    bottom: 18%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #mainNav > a > img {
    width: 80px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #mainNav > a > img {
    width: 80px;
  }
  footer > div > img {
    width: 100px;
  }
  header .intro-body {
    bottom: 8%;
    left: 31%;
  }
  header .intro-body h1 {
    font-size: 45px;
    font-weight: 600;
  }
  header .intro-body a:hover {
    text-decoration: none;
  }
  header .intro-body .intro-text {
    width: 60%;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 200;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #mainNav {
    font-size: 16px;
  }
  #mainNav > a > img {
    width: 80px;
  }
  footer > div > img {
    width: 100px;
  }
  header .intro-body {
    bottom: 8%;
    left: 29%;
  }
  header .intro-body h1 {
    font-size: 50px;
    font-weight: 600;
  }
  header .intro-body a:hover {
    text-decoration: none;
  }
  header .intro-body .intro-text {
    width: 65%;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 200;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #mainNav {
    font-size: 18px;
  }
  #mainNav > a > img {
    width: 80px;
  }
  footer > div > img {
    width: 100px;
  }
  header .intro-body {
    bottom: 8%;
    left: 31%;
  }
  header .intro-body h1 {
    font-size: 50px;
    font-weight: 600;
  }
  header .intro-body a:hover {
    text-decoration: none;
  }
  header .intro-body .intro-text {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 200;
  }
}
/*# sourceMappingURL=main.css.map */