<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/main.css' />
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light fixed-top">
      <img src="/img/tamar-logo.svg" alt="tamar-logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#collection">Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <section id="hero">
    <div class="hero-text">
      <div class="title">
        The Art of Jewelry Design
      </div>
      <div class="separator"></div>
      <div class="subtitle">
        Unique, hand-crafted and customized from silver and gold
      </div>
    </div>
  </section>

  <section id="collection">

  </section>


  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>