<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/main.css' />
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#hero">
        <img src="/img/tamar-logo.svg" alt="tamar-logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#collection">Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
        <div class="social-icons">
            <i class="fab fa-facebook-f fa-lg"></i>
            <i class="fab fa-instagram fa-lg"></i>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <section id="hero" class="row">
      <div class="col">
        <div class="hero-text">
          <div class="title">
            The Art of Jewelry Design
          </div>
          <div class="separator"></div>
          <div class="subtitle">
            Unique, hand-crafted and customized from silver and gold
          </div>
          <a href="#collection" class="btn" role="button">Discover</a>
        </div>
      </div>
    </section>

    <section id="collection" class="row">
      <div class="col products">
        <div class="grid">
          <div class="item item-medium" style="background-image: url(../img/ring-pocket.png)">
          </div>
          <div class="item item-medium" style="background-image: url(../img/ring-round-red-2.png)">
            <div class="item-details">
              Ring
              <span>$50</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/ring-round-red.png)">
            <div class="item-details">
              Ring
              <span>$500</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/ring-red.png)">
            <div class="item-details">
              Ring
              <span>$8</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/ring-red-2.png)">
            <div class="item-details">
              Ring
              <span>$14</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/ring-silver.png)">
            <div class="overlay" style="background-image: url(../img/ring-silver-wood.png)">
            </div>
            <div class="item-details">
              Ring
              <span>$14</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/ring-purple.png)">
            <div class="item-details">
              Ring
              <span>$14</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/ring-white.png)">
            <div class="item-details">
              Ring
              <span>$20</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/ring-silver-teal.jpg)">
            <div class="item-details">
              Ring
              <span>$20</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/ring-square-silver.jpg)">
            <div class="item-details">
              Ring
              <span>$20</span>
            </div>
          </div>
          <div class="static-item static-item-full">
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-wood-gold.png)">
            <div class="overlay" style="background-image: url(../img/neck-model-bw.png)">
            </div>
            <div class="item-details">
              Model
              <span>$14</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-purple.png)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/coral-neck.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-orange-gold.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/model-neck-gray-red.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/silver-neck-green.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/silver-neck-green-2.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/model-neck-black.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/silver-neck-green-3.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-silver-wood-orange.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-silver-wood-red.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-silver-wood.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/silver-neck-green-4.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/round-neck.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-wood-pink.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-silver-black.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-green.png)">
            <div class="item-details">
              Model
              <span>$30</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/model-neck-silver-bw.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/model-neck-white.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-gold-purple.png)">
            <div class="overlay" style="background-image: url(../img/neck-red-model-2.png)">
            </div>
            <div class="item-details">
              Necklace
              <span>$20</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/silver-neck.png)">
            <div class="item-details">
              Ring
              <span>$14</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-silver-green.png)">
            <div class="item-details">
              Necklace
              <span>$140</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-teal.png)">
            <div class="item-details">
              Necklace
              <span>$160</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-rocks-square.png)">
            <div class="overlay" style="background-image: url(../img/neck-square-model.png)">
            </div>
            <div class="item-details">
              Necklace
              <span>$160</span>
            </div>
          </div>
          <div class="item item-medium" style="background-image: url(../img/neck-red-silver.png)">
            <div class="overlay" style="background-image: url(../img/neck-red-model.png)">
            </div>
            <div class="item-details">
              Necklace
              <span>$160</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/model-neck-silver.jpg)">
            <div class="item-details">
              Model
              <span>$300</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-wood-silver.png)">
            <div class="item-details">
              Necklace
              <span>$160</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-orange.png)">
            <div class="item-details">
              Necklace
              <span>$160</span>
            </div>
          </div>
          <div class="item item-large" style="background-image: url(../img/neck-silver-black.png)">
            <div class="item-details">
              Necklace
              <span>$160</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="row">
      <div class="col about">
        <div id="tamar-profile">
          <img src="../img/tamar-avatar.png" alt="tamar-profile">
        </div>
      </div>
    </section>

    <section id="contact" class="row">
      <div class="col contact">
        <img src="https://maps.googleapis.com/maps/api/staticmap?
            &zoom=17
            &size=700x500
            &maptype=roadmap
            &markers=color:0x84061f%7C32.081745,34.770937
            &key=AIzaSyA41mqDoE6CDAP3F3_3WwtMMQ_yM1dQ0ac" alt="">
      </div>
    </section>

    <footer class="row">
      <div class="col footer">
        <div class="credits">
          <img src="../img/tamar-logo-white.svg" alt="">
          <div>&copy Tamar. 2018</div>
        </div>
      </div>
    </footer>


  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/smoothScroll.js"></script>
  <script src="/js/scrollreveal.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>