<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/main.css'/>
  </head>
  <body>
    <nav class="nav"></nav>
    <section id="hero">
    </section>
    <section id="collection">

    </section>


    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
