.products
  padding: 30px
  background: white
  @media screen and (max-width: 400px)
      padding: 20px
  
.grid 
  display: grid
  grid-gap: 30px
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  grid-auto-rows: 130px
  grid-auto-flow: row
  @media screen and (max-width: 400px)
      grid-template-columns: repeat(2, 1fr) 
      grid-auto-rows: 80px
      grid-gap: 20px

.item 
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  box-sizing: border-box
  background: #0c9a9a
  color: #fff
  grid-column-start: auto
  grid-row-start: auto
  color: #fff
  background: url('../img/gold-bracelets.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  box-shadow: -2px 2px 5px 0px rgba(#444, 0.4)
  transition: transform 0.3s ease-in-out
  cursor: pointer
  counter-increment: item-counter
  
  &:after 
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background-color: black
    opacity: 0.05
    transition: opacity 0.3s ease-in-out
   
  &:hover
    .overlay 
      opacity: 1
    .item-details
      opacity: 1 
    &:after 
      opacity: 0
    
  &-medium 
    grid-row-end: span 2

  &-large 
    grid-row-end: span 3
  
  &-full 
    grid-column-end: auto
    @media screen and (min-width: 768px) 
      grid-column: 1/-1
      grid-row-end: span 2
    
  &-details
    opacity: 0 
    position: relative
    z-index: 1
    padding: 8px
    color: black
    background: #fff
    text-transform: lowercase
    letter-spacing: 1px
    transition: opacity 0.3s ease-in-out
    @media screen and (max-width: 400px)
      padding: 3px
      font-size: 14px

    &:before
      font-weight: bold
      font-size: 1.1rem
      padding-right: 0.5em
      color: #444
    
    span
        float: right

.static-item 
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  box-sizing: border-box
  background: #0c9a9a
  color: #fff
  grid-column-start: auto
  grid-row-start: auto
  color: #fff
  background: url('../img/table.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  box-shadow: -2px 2px 5px 0px rgba(#444, 0.4)
  
  &-full 
    grid-column-end: auto
    @media screen and (min-width: 768px) 
      grid-column: 1/-1
      grid-row-end: span 2
    @media screen and (max-width: 400px) 
      grid-column: 1/-1
      grid-row-end: span 2

.overlay 
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100%
  width: 100%
  opacity: 0
  transition: .3s ease-in-out
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  .text 
    color: white
    font-size: 3em
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    text-align: center
