.products
    padding-top: 25px
    background: white

.grid 
  display: grid
  grid-gap: 25px
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  grid-auto-rows: 150px
  grid-auto-flow: row dense

.item 
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  box-sizing: border-box
  background: #0c9a9a
  color: #fff
  grid-column-start: auto
  grid-row-start: auto
  color: #fff
  background: url('../img/necklace-hero.png')
  background-size: cover
  background-position: center
  box-shadow: -2px 2px 5px 0px rgba(#444, 0.4)
  transition: transform 0.3s ease-in-out
  cursor: pointer
  counter-increment: item-counter
  
  &:nth-of-type(3n) 
    background-image: url('../img/table.jpg')
  
  &:nth-of-type(4n) 
    background-image: url('../img/table.jpg')
  
  
  &:nth-of-type(5n) 
    background-image: url('../img/necklace-hero.png')
  
  
  &:nth-of-type(6n) 
    background-image: url('../img/necklace-hero.png')
  
  &:after 
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background-color: black
    opacity: 0.05
    transition: opacity 0.3s ease-in-out
  
  
  &:hover 
    transform: scale(1.02)
    
    &:after 
      opacity: 0
    
  &-medium 
    grid-row-end: span 2

  &-large 
    grid-row-end: span 3
  
  &-full 
    grid-column-end: auto

    @media screen and (min-width: 768px) 
      grid-column: 1/-1
      grid-row-end: span 2
    
  &-details 
    position: relative
    z-index: 1
    padding: 10px
    color: #444
    background: #fff
    text-transform: lowercase
    letter-spacing: 1px
    color: #828282
    
    &:before 
      font-weight: bold
      font-size: 1.1rem
      padding-right: 0.5em
      color: #444
